@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.html {
  height: 100%;
}

body {
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: rgba(68, 68, 68, 1);
  margin: 0;
}

.common-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: rgba(0, 0, 0, 1);
  margin: 0;
}

.common-link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
  padding: 10px 37px 10px 37px;
  cursor: pointer;
  z-index: 10;
}

.common-link::before {
  content: "";
  top: 40%;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: rgba(255, 225, 127, 1);
  position: absolute;
  z-index: -10;
}

.common-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


/* Header */
.main-header {
  position: relative;
  width: 1160px;
  padding: 20px 60px 0 60px;
  background-color: rgba(255, 225, 127, 1);
  box-sizing: border-box;
  margin: 0 auto;
}


.main-header::before {
  position: absolute;
  content: "";
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  height: 40px;
  right: 0px;
  top: 0px;
}



.main-logo {
  position: relative;
  z-index: 10;
  line-height: 0px;
}

.main-logo-link {
  display: inline-block;
  width: 145px;
  cursor: pointer;
}

/* Navigation */

.main-navigation {
  display: grid;
  grid-template-columns: 517px 497px;
  grid-template-rows: auto auto;
  column-gap: 27px;
  row-gap: 46px;
  margin-top: 30px;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.catalog-menu,
.service-menu {
  font-family: "Raleway", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.2em;
  line-height: 21px;
  position: relative;
  z-index: 20;
}

.catalog-menu::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url("../images/toggler-open.svg");
  opacity: 30%;
  left: 243px;
  top: -63%;
  z-index: 30;
}

.service-menu {
  display: flex;
  flex-wrap: wrap;
  padding-left: 23px;
}

.service-menu-item:not(:last-child) {
  margin-right: 45px;
}

.menu-link {
  position: relative;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
}

.search-form {
  display: flex;
  position: relative;
}

.search-form-field {
  width: 358px;
  height: 40px;
  background-color: rgba(255, 225, 127, 1);
  border: 2px solid rgba(0, 0, 0, 1);
  border-right: 0;
  padding: 0 5px 0 48px;
  border-radius: 50px 0 0 50px;
  box-sizing: border-box;
  font: inherit;
  font-size: 16px;
}

.search-form::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url("../images/icon-search.svg");
  left: 16px;
  top: 12px;
  z-index: 10;
}

input.search-form-field::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-form-button {
  width: 160px;
  height: 40px;
  border: 2px solid rgba(0, 0, 0, 1);
  background-color: rgba(255, 225, 127, 1);
  padding: 0;
  border-radius: 0 50px 50px 0;
  box-sizing: border-box;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
}

.user-menu {
  display: grid;
  grid-template-columns: 231px 240px;
  column-gap: 26px;
  align-content: center;
}

.purchase-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu-link-enter {
  padding-left: 26px;
}

.menu-link-enter::before {
  position: absolute;
  content: "";
  width: 13px;
  height: 12px;
  background-image: url("../images/icon-enter.svg");
  left: 0;
  top: 5px;
}

.menu-link-compare {
  padding-left: 22px;
}

.menu-link-compare::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 12px;
  background-image: url("../images/icon-compare.svg");
  left: 0;
  top: 4px;
}

.menu-link-cart {
  padding-left: 28px;
}

.menu-link-cart::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 14px;
  background-image: url("../images/icon-cart.svg");
  left: 0;
  top: 3px;
}

.menu-link-cart:hover + .popover-wrap,
.popover-wrap:hover {
  display: block;
}

.menu-item-cart {
  position: relative;
}

.cart-count {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 100%;
  height: 15px;
  min-width: 15px;
  padding: 3px;
  z-index: 10;
  left: -16px;
  top: 4px;
}

/* Popover */

.popover-wrap {
  display: none;
  position: absolute;
  z-index: 30;
  right: -80px;
  top: 0;
  padding-top: 30px;
  background-color: transparent;
}


.popover {
width: 320px;
min-height: 218px;
background-color: rgba(0, 0, 0, 1);
position: relative;
padding-bottom: 20px;
}

.popover::after {
content: "";
position: absolute;
width: 14px;
height: 14px;
background-color: rgba(0, 0, 0, 1);
left: 153px;
top: -6px;
transform: rotate(45deg);
}


.popover-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.popover-item {
  display: grid;
  grid-template-columns: 39px 1fr 10px;
  padding: 20px;
  column-gap: 23px;
  align-items: start;
}

.popover-description {
  padding: 0;
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
}

.popover-delete {
  border: none;
  padding: 0;
  width: 10px;
  height: 10px;
  background-image: url("../images/icon-close-pop.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
}

.popover-item + .popover-item {
border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.popover-sum {
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
  background-color: rgba(26, 26, 26, 1);
}

.popover-open-cart {
  display: flex;
  margin: 20px 20px 0 20px;
  min-width: 280px;
  min-height: 50px;
  background-color: rgba(255, 255, 255, 1);
}

.popover-link {
  margin: auto;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
}



/* Inside menu */


.inner-navigation {
  position: absolute;
  width: 1160px;
  top: 0px;
  left: -60px;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 60px 30px 60px;
  background-color: rgba(255, 225, 127, 1);
  box-sizing: border-box;
  z-index: -10;
  display: none;
}


.inside-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-right: 60px;
  font-family: "Rubik", "Arial", sans-serif;
  text-transform: none;
  font-weight: 400;
  letter-spacing: 0em;
  font-size: 16px;
  line-height: 18px;
}

.inside-menu-item {
  padding-bottom: 25px;
}


.catalog-menu:hover .inner-navigation,
.catalog-menu:focus-within .inner-navigation {
  display: flex;
}


.catalog-menu:hover:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url("../images/toggler-opened.svg");
  opacity: 30%;
  left: 243px;
  top: -63%;
  z-index: 30;
}


/* HERO BLOCK */

.hero-block {
  position: relative;
  width: 1160px;
  margin: 0 auto 70px auto;
  box-sizing: border-box;
}

/* Slider */

.slider {
  position: relative;
}

.slider::before {
  display: block;
  content: "";
  height: 148px;
  background-color: rgba(255, 225, 127, 1);
  position: relative;
  z-index: -20;
}

.slider::after {
  position: absolute;
  content: "01";
  top: 80px;
  right: 50px;
  color: rgba(255, 255, 255, 1);
  font-size: 180px;
  font-weight: 700;
  z-index: -10;
}

.slider-image {
  display: block;
}

.slider-list {
  margin: 0;
  padding: 0;
}

.slider-item {
  display: grid;
  width: 1160px;
  grid-template-columns: 560px 560px;
  grid-template-rows: auto max-content;
  column-gap: 40px;
  margin-top: -150px;
}

.slider-description {
  padding-top: 120px;
  margin-bottom: 18px;
}

.slider-title {
  padding: 0;
  margin: 0;
  margin-bottom: 29px;
}

.slider-text {
  position: relative;
  margin-top: 0;
  margin-bottom: 50px;
}

.slider-ditales {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  grid-template-rows: max-content max-content max-content;
  grid-template-areas:
    "first-ditales-text second-ditales-text third-ditales-text"
    "first-ditales-title second-ditales-title third-ditales-title";
  column-gap: 20px;
  row-gap: 12px;
  margin-top: 50px;
}

.slider-ditales-text {
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: rgba(0, 0, 0, 1);
  margin: 0;
}

.slider-ditales-title {
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin: 0;
}

.first-ditales-title {
  grid-area: first-ditales-title;
}

.first-ditales-text {
  grid-area: first-ditales-text;
}

.second-ditales-title {
  grid-area: second-ditales-title;
}

.second-ditales-text {
  grid-area: second-ditales-text;
}

.third-ditales-title {
  grid-area: third-ditales-title;
}

.third-ditales-text {
  grid-area: third-ditales-text;
}

.slider-pagination {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  margin-top: -12px;
  padding: 0;
  gap: 20px;
  position: relative;
  z-index: 10;
}

.bullet {
  display: block;
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 1);
  border: 2px solid rgba(0, 0, 0, 1);
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
}

.bullet-active {
  background-color: rgba(0, 0, 0, 1);
}

.slider-control {
  display: flex;
  position: absolute;
  width: 530px;
  justify-content: space-between;
  left: 30px;
  top: 210px;
}

.slider-button {
  width: 20px;
  height: 60px;
  padding: 0;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  background-image: url("../images/slider-arrow.svg");
  cursor: pointer;
}

.prev-slide {
  transform: rotate(180deg);
}

/* Catalogs Heading Main page */

.heading-rubrics {
  width: 1160px;
  margin: 0 auto 70px auto;
}

.headings {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 40px;
}

.heading-items {
  width: 160px;
}

.heading-items-link {
  text-decoration: none;
}


.rubrics-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: rgba(0, 0, 0, 1);
  margin: 32px 0 13px 0;
  letter-spacing: -0.02em;
}


.heading-icon {
  width: 160px;
  height: 160px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 225, 127, 1);
}


.glass {
  background-image: url("../images/icon-glass.svg");
}

.monopod {
  background-image: url("../images/icon-monopod.svg");
  background-position: center 43px;
}

.camera {
  background-image: url("../images/icon-camera.svg");
}

.bracelet {
  background-image: url("../images/icon-bracelet.svg");
}

.watch {
  background-image: url("../images/icon-watch.svg");
}

.quadrocopter {
  background-image: url("../images/icon-quadrocopter.svg");
}


/* Services Block */

.service {
  background-color: rgba(240, 240, 240, 1);
  position: relative;
  padding-bottom: 72px;
}

.service::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: rgba(255, 255, 255, 1);
  top: 0px;
  left: 0px;
}


.services-block {
  position: relative;
  display: grid;
  grid-template-columns: 286px 443px auto;
  gap: 116px;
  width: 1160px;
  margin: 0 auto;
}


.services-toggle {
  border-right: 7px solid rgba(0, 0, 0, 1);
}

.services-toggle-list {
  list-style-type: none;
  text-align: center;
  padding: 64px 0 30px 0;
  margin: 0;
  cursor: pointer;
}

.link-service {
  display: block;
  text-decoration: none;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
  padding-top: 10px;
  padding-bottom: 10px;
  width: 160px;
  position: relative;
  cursor: pointer;
  z-index: 10;
}

.services-toggle-item {
  margin-bottom: 35px;
}

.link-service::before {
  content: "";
  top: 39%;
  left: 0;
  width: 160px;
  height: 8px;
  background-color: rgba(255, 225, 127, 1);
  position: absolute;
  z-index: -10;
}

.link-service-active {
  color: rgba(255, 225, 127, 1);
  position: relative;
  z-index: 10;
}

.link-service-active::before {
  content: "";
  top: -1px;
  left: 0;
  width: 285px;
  height: 40px;
  background-color: rgba(0, 0, 0, 1);
  position: absolute;
}

.services-item {
  padding: 72px 0 72px 0;
}

.services-description {
  margin: 0;
  margin-top: 34px;
}

.services-image-delivery {
  background-image: url("../images/services-delivery.svg");
  background-repeat: no-repeat;
  background-position: 0 75px;
}

.services-image-guarantee {
  background-image: url("../images/services-guarantee.svg");
  background-repeat: no-repeat;
  background-position: 0 75px;
}

.services-image-credit {
  background-image: url("../images/services-credit.svg");
  background-repeat: no-repeat;
  background-position: 0 75px;
}


/* Special Delivery */

.special-delivery {
  margin: 70px auto;
  text-align: center;
  position: relative;
}


.delivery-button {
  width: 1160px;
  background-color: rgba(240, 240, 240, 1);
  border: none;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 40px 0 40px 0;
  position: relative;
  cursor: pointer;
}

.delivery-button::before {
  content: "";
  position: absolute;
  width: 125px;
  height: 100%;
  background-image: url("../images/icon-special-delivery.svg");
  background-color: rgba(255, 225, 127, 1);
  background-position: center;
  background-repeat: no-repeat;
  top: 0px;
  left: 0px;
}

.delivery-tooltip {
  position: relative;
}

.delivery-tooltip::after {
  content: "i";
  position: absolute;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.2em;
  width: 40px;
  height: 40px;
  background-color: rgba(220, 220, 220, 1);
  opacity: 30%;
  border-radius: 50%;
  top: -10px;
  right: 42px;
  padding: 10px 17px;
  box-sizing: border-box;
  text-transform: lowercase;
}

.delivery-tooltip:hover .tooltip-delivery,
.delivery-tooltip:focus .tooltip-delivery {
  display: block;
}

.tooltip-delivery {
  display: none;
  position: absolute;
  width: 150px;
  right: 30px;
  top: 40px;
  background-color: rgba(0, 0, 0, 1);
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  padding: 17px;
}


.tooltip-delivery::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  right: 25px;
  top: -6px;
  background-color: rgba(0, 0, 0, 1);
  transform: rotate(45deg);
}



/*About us and Contacts*/

.about-us-contacts {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  gap: 108px;
  margin-bottom: 70px;
}


.about,
.contacts {
  padding-top: 47px;
  position: relative;
}

.about {
  width: 520px;
}

.contacts {
  width: 532px;
}

.about::before {
  content: "";
  position: absolute;
  width: 84px;
  height: 7px;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 1);
}

.contacts::before {
  content: "";
  position: absolute;
  width: 84px;
  height: 7px;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 1);
}

.transporting-list {
  padding: 0 0 0 34px;
  margin: 0 0 40px 0;
  list-style-type: none;
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.transporting-item {
  margin-bottom: 19px;
  position: relative;
}

.transporting-item::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  left: -33px;
  top: 30%;
  background-color: rgba(255, 199, 0, 1);
}

.about-description,
.contacts-description {
  margin: 30px 0 30px 0;
  font-style: inherit;
}

.about-us-title {
  margin-bottom: 48px;
}


.small-title {
  margin: 0 0 -15px 0;
}

.contacts-phone-number {
  display: block;
  color: rgba(68, 68, 68, 1);
}

.about-us-link {
  margin-top: 10px;
}


/* Subscribe */
.subscribe {
  background-color: rgba(240, 240, 240, 1);
  position: relative;
  padding: 64px 0 56px 0;
}

.subscribe-block {
  display: flex;
  flex-wrap: wrap;
  align-content: center;

  width: 1160px;
  margin: 0 auto;
}

.subscribe-title {
  width: 348px;
  margin: 0;
  margin-right: 252px;
  margin-bottom: 144px;
}

.subscribe-description {
  width: 560px;
  margin: 0;
  margin-bottom: 144px;
}

.subscribe-form {
  display: flex;
  align-content: center;
  width: 810px;
  padding: 0;
  margin-right: 220px;
}

.subscribe-input {
  flex-grow: 1;
  height: 57px;
  border: none;
  border-bottom: 3px solid rgba(196, 196, 196, 1);
  background-color: rgba(240, 240, 240, 0);
  box-sizing: border-box;
  font: inherit;
  padding: 0 0 0 16px;
  outline: none;
}

.subscribe-input::placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.subscribe-button {
  width: 253px;
  height: 57px;
  border: 3px solid rgba(196, 196, 196, 1);
  background-color: rgba(240, 240, 240, 0);
  box-sizing: border-box;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 0;
  cursor: pointer;
}

.subscribe-note {
  padding-top: 15px;
  position: relative;
}

.subscribe-note::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  top: 22px;
  left: -30px;
  background-image: url("../images/icon-green-tick.png");
  background-position: center;
  background-repeat: none;
}


/*Footer*/

.footer {
  background-color: rgba(68, 68, 68, 1);
  padding: 62px 0 61px 0;
}

.footer-block {
  display: grid;
  width: 1160px;
  margin: 0 auto;
  justify-content: center;
  grid-template-columns: 240px 620px 180px;
  row-gap: 35px;
  column-gap: 60px;
}

.footer-logo {
  grid-column: 1 / 4;
}

.footer-menu {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: start;
  gap: 35px;
  padding: 0;
  margin: 0;
}

.footer-link {
  text-decoration: none;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  padding: 0;
  cursor: pointer;
}


.footer-contacts {
  font: inherit;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 12px;
}

.footer-phone-number {
  display: flex;
  justify-content: end;
  color: rgba(255, 255, 255, 1);
}

.footer-line {
  width: 84px;
  height: 7px;
  background-color: rgba(255, 199, 0, 1);
  margin-top: 17px;
}


.social-link-list {
  grid-column: 2 / 3;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: start;
  gap: 35px;
  padding: 0;
  margin: 0;
}


.social-link {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.3);
}

.social-link:hover {
  background-color: rgba(255, 199, 0, 1);
}

.social-link-tg {
  background-image: url("../images/icon-telegram.png");
}

.social-link-youtube {
  background-image: url("../images/icon-youtube.png");
}

.social-link-twitter {
  background-image: url("../images/icon-twitter.png");
}

.logo-html-academy {
  display: flex;
  justify-content: end;
  color: rgba(255, 199, 0, 1);
  margin-top: 3px;
}

.logo-html-academy:hover {
  color: rgba(255, 255, 255, 1);
}



/* CATALOG */
/* Catalogs head */

.catalogs-head {
  width: 1160px;
  margin: 0 auto;
  padding: 71px 60px 0 60px;
  box-sizing: border-box;
}

.breadcrums {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 16px 0 34px 0;
}

.breadcrums-item {
  position: relative;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.breadcrums-item:not(:last-child)::after {
  content: "";
  width: 4px;
  height: 4px;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  position: absolute;
  transform: rotate(45deg);
  right: 16px;
  top: 37%;
}

.breadcrums-link {
  text-decoration: none;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  margin: 0 36px 0 0;
  padding: 0;
}


.inner-main-header::after {
  position: absolute;
  content: "";
  background-color: rgba(255, 225, 127, 1);
  width: 100%;
  height: 36px;
  right: 0px;
  top: 193px;
}


/* Catalogs main */

.gray-background {
  background-color: rgba(240, 240, 240, 1);
}

.catalogs-page {
  width: 1160px;
  display: grid;
  grid-template-columns: 320px 840px;
  margin: auto;
}

.filters-heading {
  display: block;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 1);
  padding: 25px 0;
  text-transform: uppercase;
}



/* Filters */

.catalog-filters {
  padding: 0 60px 0 60px;
  margin-bottom: 64px;
}

.catalog-filters-group {
  border: none;
  padding: 0;
  margin: 35px 0 47px 0;
}


.filters-title {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  margin: 0 0 20px 0;
  position: relative;
}

.filters-title::before {
  content: "";
  width: 200px;
  height: 2px;
  background-color: rgba(0, 0, 0, 1);
  position: absolute;
  left: 0;
  top: -15px;
}

.filters-button {
  border: none;
  cursor: pointer;
}


/* Price */
.price-scale {
  width: 200px;
  height: 2px;
  background-color: rgba(220, 220, 220, 1);
  position: relative;
  margin-bottom: 32px;
}

.price-range-bar {
  height: 2px;
  background-color: rgba(0, 0, 0, 1);
  position: absolute;
}

.price-toggle {
  width: 18px;
  height: 18px;
  background-color: rgba(235, 235, 235, 1);
  border: 2px solid rgba(0, 0, 0, 1);
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
}

.price-toggle-min {
  left: -9px;
  top: -9px;
}

.price-toggle-max {
  left: 110px;
  top: -9px;
}

.price-numbers-wrap {
  display: flex;
  position: absolute;
  font-size: 14px;
  line-height: 20px;
  opacity: 0.3;
  top: 10px;
  left: -20px;
}

.range-input {
  position: relative;
  justify-content: space-around;
  background-color: rgba(56, 48, 48, 0);
  border: none;
  font: inherit;
  padding: 0 5px 0 25px;
  width: 80px;
  box-sizing: border-box;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.price-value-from::before {
  content: "от";
  position: absolute;
  left: 5px;
  top: 0;
}

.price-value-to::before {
  content: "от";
  position: absolute;
  right: 60px;
  top: 0;
}



/* Color */

.filter-list-item {
  padding: 0;
  margin: 0 0 17px 0;
  line-height: 0;
}

.input-lable {
  font-size: 16px;
  line-height: 20px;
  padding: 0 0 0 36px;
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
}

.checkbox-lable {
  position: relative;
}

.checkbox-lable::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 0;
  border: 2px solid rgba(0, 0, 0, 1);
  box-sizing: border-box;
  border-radius: 3px;
}

.checkbox-lable::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  left: 5px;
  top: 5px;
  background-image: url("../images/icon-black-tick.svg");
  background-position: center;
  background-repeat: no-repeat;
  display: none;
}

.checkbox-input:checked+.checkbox-lable::after {
  display: block;
}

.radio-lable {
  position: relative;
}

.radio-lable::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 0;
  border: 2px solid rgba(0, 0, 0, 1);
  box-sizing: border-box;
  border-radius: 50%;
}


.radio-lable::after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  left: 6px;
  top: 6px;
  background-position: center;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 10px;
  display: none;
}

.radio-input:checked+.radio-lable::after {
  display: block;
}


/* CADRS */

.sorting-goods {
  display: flex;
  padding: 0 40px;
  gap: 206px;
}

.goods-select-control {
  border: none;
  font: inherit;
  background: none;
  appearance: none;
  background-image: url("../images/icon-select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  padding-right: 30px;
  outline: none;
  cursor: pointer;
}

.sorting-buttons {
  display: flex;
  margin: auto;
  opacity: 30%;
}

.view-sorting {
  width: 30px;
  height: 30px;
  background-image: url("../images/icon-select-triangl.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.sorting-down {
  transform: rotate(180deg);
}

.cards-wrap {
  display: grid;
  padding: 70px 40px 78px 40px;
  grid-template-columns: 360px 360px;
  column-gap: 40px;
  row-gap: 40px;
  background-color: rgba(255, 255, 255, 1);
}

.prodact {
  position: relative;
}

.prodact:hover .product-image,
.prodact:hover .product-head {
  opacity: 60%;
}

.prodact:hover .prodact-link {
  display: inline-block;
}

.prodact-link {
  position: absolute;
  left: 68px;
  top: 168px;
  z-index: 10;
  display: none;
}

.product-head {
  display: grid;
  grid-template-columns: 250px 110px;
  margin-top: 32px;
}

.product-title {
  margin: 0;
  font-weight: 700;
  line-height: 20px;
  color: rgba(0, 0, 0, 1);
}

.product-price {
  justify-self: end;
}

.more-products {
  grid-column: 1 / 3;
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
  height: 55px;
  border: 3px solid rgba(229, 229, 229, 1);
  cursor: pointer;
}

.pagination {
  grid-column: 1 / 3;
  display: flex;
  justify-content: space-between;
  height: 71px;
  background-color: rgba(235, 235, 235, 1);
  align-items: center;
}


.pagination-link {
  display: inline-block;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 1);
  padding: 25px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.3;
}

.page-pagination-link {
  display: inline-block;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: rgba(68, 68, 68, 0.6);
  padding: 10px;
  text-decoration: none;
  opacity: 0.5;
  cursor: pointer;

}

.activ-pagination-link {
  opacity: 1;
}

/* Modal Window */

.modal-container {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.9);
  z-index: 50;
}

.modal-delivery {
  position: relative;
  margin: auto;
  width: 920px;
  background-color: rgba(255, 255, 255, 1);
  border: 10px solid rgba(0, 0, 0, 1);
  box-sizing: border-box;
  padding: 62px 70px;
}

.close-modal {
background-image: url("../images/icon-close-modal.svg");
background-repeat: no-repeat;
background-color: rgba(255, 255, 255, 0);
border: none;
width: 26px;
height: 26px;
position: absolute;
top: 74px;
right: 70px;
}

.modal-form {
  list-style: none;
  margin: 40px 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.input-modal {
background-color: rgba(240, 240, 240, 1);
border: none;
padding: 20px;
box-sizing: border-box;
}

.name-modal-form,
.email-modal-form {
  width: 360px;
}

.modal-title {
  display: block;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 14px;
  margin-top: 2px;
}

.good-modal-form {
  width: 540px;
}

.amount-modal-form {
  width: 180px;
}

.input-modal::placeholder {
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}

.modal-buttton {
  border: none;
  background-color: rgba(240, 240, 240, 0);
}
